[flake8]
# E231: missing whitespace after ‘,’, ‘;’, or ‘:’
# ignored because it doesn't make sense when slicing and in numpy arrays
# E401: Put imports on separate lines.
# ignored because that's not always the best idea
# E501: line too long ( > 79 characters)
# ignored because screens are no longer limited to few characters
# W503: line break before binary operator
# in flake8, one has to choose where to break; recommendation is before
ignore = E231,E401,E501,W503
